<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valentine</title>
  <link href="../styles/valentine.css" rel="stylesheet" type="text/css">
  <link href="../styles/tulip.css" rel="stylesheet" type="text/css">
</head>
<body>

  <!-- Valentine Day Card -->
  <div class="container">
    <div class="envelope"></div>
    <div class="card">
      <h1 class="message">
        Gracias por ser mi san valentín<br>
        Contigo soy el novio mas feliz del mundo<br>
        Te amo demasiado Yuliza<br>
        Con amor: Azobery
      </h1>
      <div class="heart"></div>
    </div>
    <div class="cover"></div>
    <div class="lid"></div>
    <div class="shadow"></div>
  </div>
  
  <!-- Red Tulip-->
  <div class="tulip-container red">
    <div class="stem"></div>
    <div class="leaf left"></div>
    <div class="leaf right"></div>
    <div class="petal left"></div>
    <div class="petal center"></div>
    <div class="petal right"></div>
  </div>

  <!-- Yellow Tulip-->
  <div class="tulip-container yellow">
    <div class="stem"></div>
    <div class="leaf left"></div>
    <div class="leaf right"></div>
    <div class="petal left"></div>
    <div class="petal center"></div>
    <div class="petal right"></div>
  </div>

</body>
</html>